# General
.DS_Store
.env

# Docker
.env.docker

# Python
__pycache__/
*.pyc
backend/.venv/
backend/.mypy_cache/
backend/.ruff_cache/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/